.banner{
    position: relative;
    /* height: 52vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: -1;
    width: 100%;
    background-position:top;
    /* margin-top: 0; */
    margin: 0px;
    padding: 0px;
    height: 80vh;
    
    /* position: absolute; */
    /* top:0px; */
}
.banner_contents{
    
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.141);
    height: 100%;
    padding-top: 200px;
}
.banner_contents > h3{
    padding-top: 20px;
    width:50%;
    font-weight: bolder;
    font-size: 0.9rem;
    color: whitesmoke;
}
.banner_contents > h1{
    color: whitesmoke;
    font-size: 2.5rem;
}
.banner_buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 20px;
}
.banner_buttons > button{
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    background-color: #f5b65f;
    /* background: linear-gradient(#FEC779,#8AC33E); */
    font-size: 0.99rem;
    font-weight: 900;
    height: 30px;
    width: 200px;
    margin-left: 10px;
    opacity: 0.9;
}

.banner_buttons > button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}